html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}


body {
    margin-bottom: 60px;
}

a {
    color: #556071;
    text-decoration: none;
}

.select-icon-img {
    height: 30px;
}

.select-icon {
    position: relative;
}

.select-icon-wrap {
    max-height: 0;
    overflow: hidden;
    margin-bottom: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    background: #fff;
    position: absolute;
    top: 88%;
    width: 100%;
    z-index: 2;
}

.select-icon-wrap-show {
    max-height: 100px;
    overflow: auto;
    padding: 10px 0;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.select-icon-item {
    list-style-type: none;
    padding: 0 10px;
}

    .select-icon-item:hover {
        background-color: darkgray;
    }

.form-control.select-icon-content {
    padding-left: 0;
    padding-right: 0;
}
/*Operations*/

.operations__item-icon {
    max-height: 30px;
}
