html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.select-icon-img {
    height: 30px;
}
.select-icon-wrap{
    padding-left:0;
}
.select-icon-item{
    list-style-type:none;
    padding:0 10px;
}
.select-icon-item:hover{
    background-color:darkgray;
}
.form-control.select-icon-content {
    padding-left: 0;
    padding-right: 0;
}